<%= form_tag(search_sourcemod_plugins_path, :method => :get, :class => 'form-stacked') do |f| %>

<h3>Search Filters</h3>

<% if @user %>
<div class="search-field clearfix">
  <label><%= t('search.filter.user') %></label>
  <% if @user %>
  <%= hidden_field_tag :user_id, @user.id %>
  <span><%= link_to @user.name, @user %></span>
  <% else %>
  <em>All users</em>
  <% end %>
</div>
<% end %>


<div class="search-field clearfix">
  <label><%= t('search.filter.tags') %></label>

  <%= text_field_tag :tags, (@tags ? @tags.map(&:name).join(",") : ""), :data => {taglist: Tag.used.map(&:name).join(",")} %>

</div>

<%= submit_tag t('search.submit'), :class => "btn" %>

<% end %>
