<div class="row plugin-row"><div class="span8">

<div class="row <%= 'no-phrases' if sourcemod_plugin.phrases.size == 0 %>" style="z-index:1;">
  <div class="span6">
    <h4><%= link_to sourcemod_plugin.name, sourcemod_plugin %>
      <% if can?(:create, Translation) && sourcemod_plugin.percent_complete < 100.0 %>
      <small>
        (<%= link_to "translate!", random_translations_path(:plugin_id => sourcemod_plugin.id) %>)
      </small>
      <% end %>
    </h4>

    <p>
      created by <%= link_to sourcemod_plugin.user.name, sourcemod_plugin.user %>
      (<%= link_to "plugins", user_sourcemod_plugins_path(sourcemod_plugin.user) %>)
    </p>

    
    <% if sourcemod_plugin.tags.count > 0 %>
      <strong>Tags:</strong>
      <ul class="taglist">
        <% sourcemod_plugin.tags.order("tags.name ASC").each do |tag| %>
        <li><%= link_to tag.name, tagged_sourcemod_plugins_path(tag.name) %></li>
        <% end %>
      </ul>
    <% end %>

  </div>

  <div class="span2 stats">
    <dl class="dl-horizontal">
      <dt>Phrases</dt>
      <dd><%= sourcemod_plugin.phrases.size %></dd>

      <dt>Attempted</dt>
      <dd><%= sourcemod_plugin.percent_attempt %>%</dd>

      <dt>Overall</dt>
      <dd><%= sourcemod_plugin.percent_complete %>%</dd>
    </dl>
  </div>

</div>

<%
=begin
%>
<div class="row" style="display:block;"><div class="participation-graph disabled"><canvas class="bars" data-color-all="#F5F5F5" data-color-owner="#F5F5F5" data-source="/sourcemod_plugins/<%= sourcemod_plugin.id %>/graphs/participation.json" height="40" width="600"></canvas></div></div>
<%
=end
%>

</div>
</div>