<% title "Plugins" %>
<% content_for :page_heading do %>
  <h1>Plugins
    <% if @user %>
    <small>by <%= @user.name %></small>
    <% end %>
    <% if @tags && !@tags.empty? %>
    <small>
      tagged as <em><%= @tags.join(", ") %></em>
    </small>
    <% end %>
  </h1>
<% end %>

<div class="row">
  <div class="span8">
    <% if @sourcemod_plugins.size > 0 %>
      <%= render @sourcemod_plugins %>
    <% else %>
      <%= info_box do %>
      <strong>Whoops!</strong>, your search did not return any results!
      <% end %>
    <% end %>
  </div>
  <div class="span3 search-form">
    <%= render "search_form" %>
  </div>
</div>


<p>Showing <%= pluralize @sourcemod_plugins.count, "plugin" %></p>
