<% title "Plugins" %>
<% content_for :page_heading do %>
  <h1>Plugins
    <% if @user %>
    <small>by <%= @user.name %></small>
    <% end %>
    <% if @tags && !@tags.empty? %>
    <small>
      tagged as <em><%= @tags.join(", ") %></em>
    </small>
    <% end %>
  </h1>
<% end %>

<%= info_box do %>
Click on any plugin to start adding translations!
<% end %>

<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
        <th>Name</th>
        <th>Creator</th>
        <th># Phrases</th>
        <th>% Completed</th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @sourcemod_plugins) do |sourcemod_plugin| %>
        <td><%= link_to sourcemod_plugin.name, sourcemod_plugin %></td>
        <td><%= link_to sourcemod_plugin.user.name, sourcemod_plugin.user %></td>
        <td><%= sourcemod_plugin.phrases.count %></td>
        <td><%= sourcemod_plugin.percent_completed %>%</td>
    <% end %>
  </tbody>
</table>

<%
=begin
%>
<div class="row">
  <div class="span8">
  <%= render @sourcemod_plugins %>
  </div>
  <div class="span4 search-form">
    <%= render "search_form" %>
  </div>
</div>
<%
=end
%>

<p>Showing <%= pluralize @sourcemod_plugins.count, "plugin" %></p>
