
<% title "Plugin - #{@sourcemod_plugin.name}" %>
<% content_for :page_heading do %>
  <h1><%= @sourcemod_plugin.name %>
    <small>by <%= @sourcemod_plugin.user.name %></small>
  </h1>
<% end %>

<% if @sourcemod_plugin.user.eql?(current_user) %>
  <%= info_box do %>
  <p>This is your plugin. You can perform the actions below if you want.</p>
    <%= link_to "Upload Phrases", upload_sourcemod_plugin_path(@sourcemod_plugin), :class => "btn"  %>

    <%= link_to "Edit Plugin", edit_sourcemod_plugin_path(@sourcemod_plugin), :class => "btn"  %>
    <%#= link_to "Delete Plugin", delete_sourcemod_plugin_path(@sourcemod_plugin), :class => "btn"  %>
  <% end %>
<% end %>


<% if @sourcemod_plugin.phrases.count == 0 %>

  <%= error_box do %>
  Whoops, it appears the developer of this plugin has not yet added any phrases to translate.
  <% end %>

<% else %>

<h4>Translation Progress (<%= @sourcemod_plugin.percent_completed %>%) 
<small>(<a href="#" onclick="$('.detailed').toggle();return false;">detailed</a>)</small>
</h4>
<dl class="dl-horizontal translation-progress">
  <dt>Overall</dt>
  <dd><div class="progress"><div class="bar" style="width: <%= @sourcemod_plugin.percent_completed %>%;"></div></div></dd>

  <% Language.all.order("name ASC").each do |lang| %>
  <% completed = (100.0*@sourcemod_plugin.translations.where(language_id: lang.id).count)/@sourcemod_plugin.phrases.count %>
  <dt class="detailed" title="<%= completed %>%"><%= lang.name %> (<%= lang.iso_code %>)</dt>
  <dd class="detailed"><div class="progress"><div class="bar" style="width: <%= completed %>%;"></div></div>

  </dd>
  <% end %>
</dl>

<h4>Export</h4>
<dl class="dl-horizontal">
  <dt>Single File</dt>
  <dd><%= link_to "#{@sourcemod_plugin.filename}.phrases.txt", export_sourcemod_plugin_path(@sourcemod_plugin, :format => "txt") %></dd>

  <dt>Multi-File Zip</dt>
  <dd><%= link_to "#{@sourcemod_plugin.filename}.translations.zip", download_sourcemod_plugin_path(@sourcemod_plugin, :filename => "#{@sourcemod_plugin.filename}.translations.zip") %></dd>
</dl>

<h4>Phrases</h4>
<% no_english_phrases = false %>
<table class="table table-condensed table-striped table-bordered">
<thead>
  <tr>
    <th>Phrase</th>
    <th>Languages Translated</th>
  </tr>
</thead>
<tbody>
<% @sourcemod_plugin.phrases.order("LOWER(name) ASC").each do |phrase| %>
<% langs = phrase.languages.pluck(:iso_code).sort %>
<% no_english_phrases = true unless langs.include?('en') %>
<tr class="<%= 'no-english' unless langs.include?('en') %>">
  <td><%= link_to phrase.name, phrase %></td>
  <td><%= langs.join(", ") %></td>
</tr>
<% end %>
</tbody>
</table>

<% end %>

<% if no_english_phrases %>
<%= error_box do %>
The phrases above highlighted in red do not have an English translation. If you want to delete these phrases, then click on them and follow the prompt on the next page.
<% end %>
<% end %>
