
<% title "Plugin - #{@sourcemod_plugin.name}" %>
<% content_for :page_heading do %>
  <h1><%= @sourcemod_plugin.name %>
    <small>by <%= @sourcemod_plugin.user.name %></small>
  </h1>
<% end %>

<% if @sourcemod_plugin.user.eql?(current_user) %>
  <%= info_box do %>
  <h5>Plugin Owner</h5>
  <p>This is your plugin. You can perform the actions below if you want.</p>
    <%= link_to "Upload Phrases", upload_sourcemod_plugin_path(@sourcemod_plugin), :class => "btn"  %>

    <%= link_to "Edit Plugin", edit_sourcemod_plugin_path(@sourcemod_plugin), :class => "btn"  %>
  <% end %>
<% end %>


<% if @sourcemod_plugin.phrases.count == 0 %>

<%= error_box do %>
Whoops, it appears the developer of this plugin has not yet added any phrases to translate.
<% end %>

<% else %>

<%#= link_to "Translate this plugin", translate_sourcemod_plugin_path(@sourcemod_plugin), :class => "btn btn-success"  %>
<br/>
<br/>

<h4>Translation Progress</h4>
<dl class="dl-horizontal translation-progress">
  <% @sourcemod_plugin.languages.order("iso_code ASC").each do |lang| %>
  <% completed = 100.0*(@sourcemod_plugin.translations.where(language: lang).count/@sourcemod_plugin.phrases.count) %>
  <dt title="<%= completed %>%"><%= lang.iso_code %></dt>
  <dd><div class="progress"><div class="bar" style="width: <%= completed %>%;"></div></div>

  </dd>
  <% end %>
</dl>

<table class="table table-condensed table-striped table-bordered">
<thead>
  <tr>
    <th>Phrase</th>
    <th>Languages Translated</th>
  </tr>
</thead>
<tbody>
<% @sourcemod_plugin.phrases.order("name ASC").each do |phrase| %>
<tr>
  <td><%= link_to phrase.name, phrase %></td>
  <td><%= phrase.languages.pluck(:iso_code).join(", ") %></td>
</tr>
<% end %>
</tbody>
</table>

<% end %>
