
<% title "Plugin - #{@sourcemod_plugin.name}" %>
<% content_for :page_heading do %>
  <h1>Translate <%= @sourcemod_plugin.name %>
  </h1>
<% end %>


<% @phrases.each do |phrase| %>
<div class="phrase">
  <h4><%= phrase.name %>
  <% if phrase.format %>
  <small>format: <code><%= phrase.format %></code></small>
  <% end %>
  </h4>

  <dl class="dl-horizontal">
    <% phrase.translations.joins(:language).order("LOWER(languages.name) ASC").each do |translation| %>
    <dt><%= translation.language.name %></dt>
    <dd><%= phrase_text translation.text %></dd>
    <% end %>

  <% current_user.languages.each do |lang| %>
  <dt><%= lang.name %></dt>
  <dd>
    <%= text_field_tag "blah" %>
  </dd>
  <% end %>
  </dl>

</div>
<% end %>
