
<% title "Plugin - #{@sourcemod_plugin.name}" %>
<% content_for :page_heading do %>
  <h1>Translate <%= @sourcemod_plugin.name %>
  </h1>
<% end %>


<% @sourcemod_plugin.phrases.order("name ASC").each do |phrase| %>
<div class="phrase">
  <h4><%= phrase.name %>
  <% if phrase.format %>
  <small>format: <code><%= phrase.format %></code></small>
  <% end %>
  </h4>

  <table class="table table-condensed table-striped table-bordered">
  <tbody>
    <tr>
      <td width="10">en</td>
      <td><%= phrase.translations.english.first.text %></td>
    </tr>

    <% current_user.languages.each do |lang| %>
      
    <% end %>

  </tbody>
  </table>

  <p><code><%= phrase.translations.english.first.text %></code></p>

</div>
<% end %>


<table class="table table-condensed table-striped table-bordered">
<thead>
  <tr>
    <th>Phrase</th>
    <th>Languages</th>
  </tr>
</thead>
<tbody>
<% @sourcemod_plugin.phrases.order("name ASC").each do |phrase| %>
<tr>
  <td><%= phrase.name %></td>
  <td><%= phrase.languages.pluck(:iso_code).join(", ") %></td>
</tr>
<% end %>
</tbody>
</table>
