<% title "Upload Phrases" %>
<% content_for :page_heading do %>
  <h1>Upload Phrases
    <small>for <%= @sourcemod_plugin.name %></small>
  </h1>
<% end %>


<%= info_box do %>
<p>
  This can either be a single <code><%= @sourcemod_plugin.filename %>.phrases.txt</code>, or it can be a Zip archive containing all translations.
</p>
<p>Note: If you upload a Zip archive, only files named <code><%= @sourcemod_plugin.filename %>.phrases.txt</code> will be imported.</p>
<% end %>

<%= form_for(@sourcemod_plugin, :url => upload_sourcemod_plugin_path, :method => :post, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @sourcemod_plugin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sourcemod_plugin.errors.count, "error") %> prohibited this sourcemod_plugin from being saved:</h2>

      <ul>
      <% @sourcemod_plugin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :file, :class => "control-label" %>
    <div class="controls">
      <%= f.file_field :file %>
      <span class="help-inline">Only *.txt and *.zip are allowed.</span>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
    <%= f.submit "Upload Phrase", :class => "btn btn-primary" %>
    <%= link_to "Back to Plugin", @sourcemod_plugin, :class => "btn" %>
    </div>
  </div>
<% end %>
