<% title "Upload Phrases" %>
<% content_for :page_heading do %>
  <h1>Upload Phrases
    <small>for <%= @sourcemod_plugin.name %></small>
  </h1>
<% end %>


<%= info_box do %>
<p>
  This can either be a single <code><%= @sourcemod_plugin.filename %>.phrases.txt</code>, or it can be a Zip archive containing all translations.
</p>
<p>Note: If you upload a Zip archive, only files named <code><%= @sourcemod_plugin.filename %>.phrases.txt</code> will be imported.</p>
<% end %>

<%
=begin
%>
<%= form_for(@sourcemod_plugin, :url => upload_sourcemod_plugin_path, :method => :post, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @sourcemod_plugin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sourcemod_plugin.errors.count, "error") %> prohibited this sourcemod_plugin from being saved:</h2>

      <ul>
      <% @sourcemod_plugin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :file, :class => "control-label" %>
    <div class="controls">
      <%= f.file_field :file %>
      <span class="help-inline">Only *.txt and *.zip are allowed.</span>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
    <%= f.submit "Upload Phrase", :class => "btn btn-primary" %>
    <%= link_to "Back to Plugin", @sourcemod_plugin, :class => "btn" %>
    </div>
  </div>
<% end %>
<%
=end
%>

<%= form_tag upload_sourcemod_plugin_path(@sourcemod_plugin, "json"), 
      method: :post,
      id: "phrase_upload_form",
      enctype: "multipart/form-data" do %>

  <div class="row fileupload-buttonbar">
    <div class="span7">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
            <i class="icon-plus icon-white"></i>
            <span>Add files...</span>
            <input type="file" name="files[]" multiple>
        </span>
        <button type="submit" class="btn btn-primary start">
            <i class="icon-upload icon-white"></i>
            <span>Start upload</span>
        </button>
        <button type="reset" class="btn btn-warning cancel">
            <i class="icon-ban-circle icon-white"></i>
            <span>Cancel upload</span>
        </button>
    </div>
    <!-- The global progress information -->
    <div class="span5 fileupload-progress fade">
        <!-- The global progress bar -->
        <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
            <div class="bar" style="width:0%;"></div>
        </div>
        <!-- The extended global progress information -->
        <div class="progress-extended">&nbsp;</div>
    </div>
</div>
<!-- The loading indicator is shown during file processing -->
<div class="fileupload-loading"></div>
<br>
<!-- The table listing the files available for upload/download -->
<table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>

<% end %>


<% content_for :bottom_scripts do %>

<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td class="ul-progress">
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>Start</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>Cancel</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>

<%= javascript_include_tag "jquery-fileupload" %>
<%= javascript_include_tag "uploads" %>
<% end %>
