
<%= form_for(@translation, :html => {:class => "form-horizontal"}) do |f| %>

  <%= f.hidden_field :phrase_id %>

  <% if @translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@translation.errors.count, "error") %> prohibited this translation from being saved:</h2>

      <ul>
      <% @translation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label "Plugin", :class => "control-label" %>
    <div class="controls">
      <span class="form-line"><%= link_to @phrase.sourcemod_plugin.name, @phrase.sourcemod_plugin %></span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Phrase", :class => "control-label" %>
    <div class="controls">
      <span class="form-line"><%= @phrase.name %></span>
    </div>
  </div>

  
  <div class="control-group">
    <%= f.label :language_id, :class => "control-label" %>
    <div class="controls">
      <%= select(:translation, :language_id, @languages.collect{|l| [l.name, l.id]}) %>
    </div>
  </div>

  <% if @phrase.format %>
  <div class="control-group">
    <%= f.label "Format", :class => "control-label" %>
    <div class="controls">
      <span class="form-line"><code><%= @phrase.format %></code></span>
    </div>
  </div>
  <% end %>


  <div class="control-group">
    <%= f.label "English", :class => "control-label" %>
    <div class="controls">
      <span class="form-line"><%= phrase_text @phrase.english.text %></span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :text, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :text, :class => "span8" %>
      <span class="help-inline">Add your translation using the language you specified above</span>
    </div>
  </div>
  <div class="control-group">
    <div class="controls"><%= f.submit :class => "btn btn-primary" %></div>
  </div>
<% end %>
