<% title "#{t('.title')} - #{@translation.language.iso_code}:#{@translation.phrase.name}" %>
<% content_for :page_heading do %>
  <h1><%= t('.title') %>
    <small>&quot;<%= @translation.phrase.name %>&quot;</small>
  </h1>
<% end %>

<%= link_to t('.back_to_phrase'), @translation.phrase %>

<h3><%=t 'headings.phrase_info' %></h3>

<dl class="dl-horizontal">
  <dt><%= Phrase.human_attribute_name(:name) %></dt>
  <dd><%= @translation.phrase.name %></dd>

  <% if @translation.phrase.format %>
  <dt><%= Phrase.human_attribute_name(:format) %></dt>
  <dd><code><%= @translation.phrase.format %></code></dd>
  <% end %>

  
  <dt><%= Phrase.human_attribute_name(:english) %></dt>
  <dd>
    <% if @translation.phrase.english %>
    <%= phrase_text @translation.phrase.english.text %>
    <% else %>
    <em><%=t '.none' %></em>
    <% end %>
  </dd>
  

</dl>

<h3><%=t 'headings.translation_info' %></h3>
<dl class="dl-horizontal">
  <dt><%= Translation.human_attribute_name(:user) %></dt>
  <dd><%= link_to @translation.user.name, @translation.user %>
    <% if @translation.imported? %>
    <em><%=t '.imported' %></em>
    <% end %>
  </dd>

  <dt><%= Translation.human_attribute_name(:created_at) %></dt>
  <dd><%= @translation.created_at %></dd>

  <dt><%= Language.model_name.human %></dt>
  <dd><%= @translation.language.name %> (<%= @translation.language.iso_code %>)</dd>

  <dt><%= Translation.human_attribute_name(:text) %></dt>
  <dd><%= phrase_text @translation.text %></dd>

  <dt class="ingame-preview"><%= Translation.human_attribute_name(:ingame_preview) %></dt>
  <dd class="ingame-preview"><%= fancy_text @translation %>
    <small class="muted"><%=t '.preview_info' %></small>
  </dd>

</dl>

<% if @translation.user.eql?(current_user) %>

  <%= info_box do %>
  <p><%=t '.delete.creator' %></p>
  <%= link_to t('.delete.button'), @translation, method: :delete, data: { confirm: t('.delete.confirm') }, :class => "btn btn-danger" %>
  <% end %>

<% elsif @translation.phrase.sourcemod_plugin.user.eql?(current_user) %>

  <%= info_box do %>
  <p><%=t '.delete.plugin_owner' %></p>
  <%= link_to t('.delete.button'), @translation, method: :delete, data: { confirm: t('.delete.confirm') }, :class => "btn btn-danger" %>
  <% end %>

<% else %>

<% end %>