<% title "View Translation" %>
<% content_for :page_heading do %>
  <h1>View Translation
    <small>&quot;<%= @translation.phrase.name %>&quot;</small>
  </h1>
<% end %>

<h3>Phrase Information</h3>

<dl class="dl-horizontal">
  <dt>Phrase Name</dt>
  <dd><%= @translation.phrase.name %></dd>

  <% if @translation.phrase.format %>
  <dt>Format</dt>
  <dd><code><%= @translation.phrase.format %></code></dd>
  <% end %>

  <dt>English</dt>
  <dd><%= phrase_text @translation.phrase.english.text %></dd>

</dl>

<h3>Translation Information</h3>
<dl class="dl-horizontal">
  <dt>Added By</dt>
  <dd><%= @translation.user.name %></dd>

  <dt>Date Created</dt>
  <dd><%= @translation.created_at %></dd>

  <dt>Language</dt>
  <dd><%= @translation.language.name %> (<%= @translation.language.iso_code %>)</dd>

  <dt>Translated Text</dt>
  <dd><%= phrase_text @translation.text %></dd>

</dl>

<%= link_to 'Back to phrase', @translation.phrase %>
