<% title "View Translation" %>
<% content_for :page_heading do %>
  <h1>View Translation
    <small>&quot;<%= @translation.phrase.name %>&quot;</small>
  </h1>
<% end %>

<%= link_to 'Back to phrase', @translation.phrase %>

<h3>Phrase Information</h3>

<dl class="dl-horizontal">
  <dt>Phrase Name</dt>
  <dd><%= @translation.phrase.name %></dd>

  <% if @translation.phrase.format %>
  <dt>Format</dt>
  <dd><code><%= @translation.phrase.format %></code></dd>
  <% end %>

  
  <dt>English</dt>
  <dd>
    <% if @translation.phrase.english %>
    <%= phrase_text @translation.phrase.english.text %>
    <% else %>
    <em>None</em>
    <% end %>
  </dd>
  

</dl>

<h3>Translation Information</h3>
<dl class="dl-horizontal">
  <dt>Added By</dt>
  <dd><%= link_to @translation.user.name, @translation.user %>
    <% if @translation.imported? %>
    <em>(imported)</em>
    <% end %>
  </dd>

  <dt>Date Created</dt>
  <dd><%= @translation.created_at %></dd>

  <dt>Language</dt>
  <dd><%= @translation.language.name %> (<%= @translation.language.iso_code %>)</dd>

  <dt>Translated Text</dt>
  <dd><%= phrase_text @translation.text %></dd>

</dl>

<% if @translation.user.eql?(current_user) %>

  <%= info_box do %>
  <p>This is your translation. You may to remove your translation at any time if you would like. (You can always add a better one later)</p>
  <%= link_to 'Delete Translation', @translation, method: :delete, data: { confirm: 'Are you sure you want to remove this translation?' }, :class => "btn btn-danger" %>

  <% end %>

<% elsif @translation.phrase.sourcemod_plugin.user.eql?(current_user) %>

  <%= info_box do %>
  <p>You are the owner of this plugin. If you do not like this translation, you may delete it at any time.</p>
  <%= link_to 'Delete Translation', @translation, method: :delete, data: { confirm: 'Are you sure you want to remove this translation?' }, :class => "btn btn-danger" %>

  <% end %>

<% else %>

<% end %>