<p id="notice"><%= notice %></p>

<p>
  <strong>Phrase:</strong>
  <%= @format_info.phrase_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @format_info.position %>
</p>

<p>
  <strong>Format class:</strong>
  <%= @format_info.format_class %>
</p>

<p>
  <strong>Description:</strong>
  <%= @format_info.description %>
</p>


<%= link_to 'Edit', edit_format_info_path(@format_info) %> |
<%= link_to 'Back', format_infos_path %>
