<h1>Listing phrases</h1>

<table>
  <thead>
    <tr>
        <th>Sourcemod plugin</th>
        <th>Name</th>
        <th>Format</th>
        <th>Translations count</th>
        <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @phrases) do |phrase| %>
        <td><%= phrase.sourcemod_plugin_id %></td>
        <td><%= phrase.name %></td>
        <td><%= phrase.format %></td>
        <td><%= phrase.translations_count %></td>
        <td><%= link_to 'Show', phrase %></td>
      <td><%= link_to 'Edit', edit_phrase_path(phrase) %></td>
      <td><%= link_to 'Destroy', phrase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Phrase', new_phrase_path %>
