<% title "#{t('.title')} - #{@phrase.name}" %>
<% content_for :page_heading do %>
  <h1><%=t ".title" %>
    <small>&quot;<%= @phrase.name %>&quot;</small>
  </h1>
<% end %>


<% if @phrase.english.nil? && can?(:manage, @phrase) %>
  <%= error_box do %>
  <p><%=t ".no_english" %></p>
  <%= link_to t('.delete.button'), @phrase, method: :delete, 
    data: { confirm: t('.delete.confirm') }, :class => "btn btn-danger" %>
  <% end %>
<% end %>

<h3><%=t "headings.phrase_info" %></h3>
<dl>
  <dt><%= SourcemodPlugin.model_name.human %></dt>
  <dd><%= link_to @phrase.sourcemod_plugin.name, @phrase.sourcemod_plugin %></dd>

  <dt><%= Phrase.human_attribute_name(:name) %></dt>
  <dd><%= @phrase.name %></dd>

  <% if @phrase.format %>
  <dt><%= Phrase.human_attribute_name(:format) %></dt>
  <dd><code><%= @phrase.format %></code>
    <% if @phrase.format_infos.count > 0 %>
    <ol class="format-info">
      <% @phrase.format_infos.each do |fmt| %>
      <li><strong><%= fmt.type %></strong> <%= fmt.description %></li>
      <% end %>
    </ol>
    <% end %>
  </dd>
  <% end %>

  <% if @phrase.english %>
  <dt><%= Phrase.human_attribute_name(:english) %></dt>
  <dd><%= phrase_text @phrase.english.text %></dd>

    <dt><%= Phrase.human_attribute_name(:english) %> (<%= Translation.human_attribute_name(:ingame_preview) %>)</dt>
    <dd><%= fancy_text @phrase.english %></dd>

  <% end %>

</dl>

<h3><%= Translation.model_name.human.pluralize %>
<% if can? :create, Translation %>
<small>(<%= link_to t("add"), new_phrase_translation_path(@phrase) %>)</small>
<% end %>
</h3>
<dl class="dl-horizontal translation-list">
  <% @phrase.translations.includes(:language).order("languages.name ASC").each do |translation| %>
  <dt><%= link_to translation.language.name, translation %> (<%= translation.language.iso_code %>)</dt>
  <dd>
    <%= phrase_text translation.text %>
    <br/>
  </dd>
  <% end %>
</dl>

