<% title "View Phrase" %>
<% content_for :page_heading do %>
  <h1>View Phrase
    <small>&quot;<%= @phrase.name %>&quot;</small>
  </h1>
<% end %>


<% if @phrase.english.nil? && can?(:manage, @phrase) %>
  <%= error_box do %>
  <p>This phrase doesn't seem to exist in English. Do want to delete it?</p>
  <%= link_to 'Delete Phrase', @phrase, method: :delete, 
    data: { confirm: 'Are you sure? This will remove all translations as well.' }, :class => "btn btn-danger" %>
  <% end %>
<% end %>

<h3>Phrase Information</h3>
<dl>
  <dt>Plugin Name</dt>
  <dd><%= link_to @phrase.sourcemod_plugin.name, @phrase.sourcemod_plugin %></dd>

  <dt>Phrase Name</dt>
  <dd><%= @phrase.name %></dd>

  <% if @phrase.format %>
  <dt>Format</dt>
  <dd><code><%= @phrase.format %></code>
    <% if @phrase.format_infos.count > 0 %>
    <ol class="format-info">
      <% @phrase.format_infos.each do |fmt| %>
      <li><strong><%= fmt.type %></strong> <%= fmt.description %></li>
      <% end %>
    </ol>
    <% end %>
  </dd>
  <% end %>

  <% if @phrase.english %>
  <dt>English</dt>
  <dd><%= phrase_text @phrase.english.text %></dd>
  <% end %>

</dl>

<h3>Translations
<% if can? :create, Translation %>
<small>(<%= link_to "add", new_phrase_translation_path(@phrase) %>)</small>
<% end %>
</h3>
<dl class="dl-horizontal translation-list">
  <% @phrase.translations.includes(:language).order("languages.name ASC").each do |translation| %>
  <dt><%= link_to translation.language.name, translation %> (<%= translation.language.iso_code %>)</dt>
  <dd><%= phrase_text translation.text %>
    <br/>

  </dd>
  <% end %>
</dl>