<% title "User - #{@user.name}" %>
<% content_for :page_heading do %>
  <h1><%= @user.name %>
    <small>User Profile</small>
  </h1>
<% end %>

<dl class="dl-horizontal">

  <dt>Joined</dt>
  <dd><%= @user.created_at %></dd>

  <dt>Steam Profile</dt>
  <dd><%= link_to "http://steamcommunity.com/profiles/#{@user.uid}", "http://steamcommunity.com/profiles/#{@user.uid}", :target => '_blank' %></dd>


  <dt>Languages</dt>
  <dd>
    <% if @user.languages.count > 0 %>
    <%= @user.languages.order("name ASC").pluck(:name).join(", ") %>
    <% else %>
    <em>None</em>
    <% end %>
  </dd>


  <dt>Plugins</dt>
  <dd>
    <% if @user.sourcemod_plugins.count > 0 %>
    <%= @user.sourcemod_plugins.count %> (<%= link_to "view plugins", user_sourcemod_plugins_path(@user) %>)
    <% else %>
    <em>None</em>
    <% end %>
  </dd>

  <dt>Translations</dt>
  <dd><%= pluralize @user.translations.web.count, "translation" %>
    <% if @user.translations.web.count > 0 %>
    (<%= link_to "view", user_translations_path(@user) %>)
    <% end %>
  </dd>

</dl>

