<% title "Changelog" %>
<h1>Changelog</h1>

<p><strong>Current Version:</strong> <%= $VERSION %></p>

<p>I will try to keep this updated with changes I make in each version.</p>

<h3>0.1.5 - (2013-01-11)</h3>
<ul>
  <li>Fixed the random translation page. It was incorrectly preventing translations (thanks marcusm)</li>
  <li>Fixed a bug in random translations that would redirect you to another plugin.</li>
  <li>Added a recent translations page to show new translations</li>
</ul>

<h3>0.1.4 - (2013-01-10)</h3>
<ul>
  <li>Added a <%= link_to "leader board", leader_users_path %> to track usage.</li>
  <li>Added more formats to the format parser</li>
</ul>

<h3>0.1.3 - (2013-01-09)</h3>
<ul>
  <li>Added detailed format information support</li>
  <li>Properly tagged files will have format descriptions shown on the site</li>
  <li>Format placeholder enforcement. (If a phrase has a format, then all translations must adhere to that format)</li>
</ul>

<h3>0.1.2 - (2013-01-09)</h3>
<ul>
  <li>Bug Fix for phrase parsing (Thanks Peace-Maker!)</li>
  <li>Added some i18n changes to the site</li>
  <li>Added ability to add translations for a specific plugin (Thanks shavit!)</li>
  <li>Added an internal flag to denote if a translation was imported from a file or added via the web</li>
  <li>Added translation counts to user profile</li>
</ul>

<h3>0.1.1 - (2013-01-07)</h3>
<ul>
  <li>Added <%= link_to "contact", contact_path %> page</li>
  <li>Added <%= link_to "changelog", contact_path %> page</li>
  <li>Fixed phrase file parser to better handle quotes.</li>
  <li>Fixed the <%= link_to "Translate!", random_translations_path %> link to let you do translations forever</li>
</ul>